{% extends "base.html" %}

{% block content %}

<div class="mt-5 d-flex justify-content-center">
  <form class="w-50" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Please type something .....</label>
      <textarea class="form-control" id="content" name="content" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="mt-5 d-flex justify-content-center">
  <form class="w-50" method="post" action="{{ url_for('blog_blueprint.upload_file') }}" enctype=multipart/form-data>
    <div class="mb-3">
      <label for="formFile" class="form-label">File upload with naive method</label>
      <input class="form-control" type="file" id="formFile" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="mt-5 d-flex justify-content-center">
  <form class="w-50">
    <div class="mb-3">
      <label for="formFile" class="form-label">File upload by js</label>
      <input class="form-control" type="file" id="file-upload-selector" accept="image/png" multiple="multiple">
    </div>
    <button type="button" class="btn btn-primary" id="file-upload-sender">Submit</button>
  </form>
  <img id='preview'> 
</div>

{% endblock %}

{% block javascripts %}
<script>
  const fileUploadSelector = document.querySelector('#file-upload-selector');
  fileUploadSelector.addEventListener('change', (e) => {
    console.log(e.target.files); // get list of file objects
    // display_img(e.target.files); 
  });

  const fileUploadSender = document.querySelector("#file-upload-sender")
  fileUploadSender.addEventListener("click", (e) => {
    upload_img(fileUploadSelector.files[0 ]);
  })

  // 將照片轉成 base64 string
  function display_img(curFiles) {
    const curFile = curFiles[0];
    const reader = new FileReader();
    // 這會在readAS後才執行
    reader.onload = function (e) {
        // console.log('file:', e.target.result); // base64
        document.querySelector('#preview').src = e.target.result;
    };
    // to data url
    reader.readAsDataURL(curFile);
  }

  // 將 blob 轉乘 array buffer
  function blob2buffer(blob) {
    return new Promise((resolve, reject) => {
        var arrayBuffer;
        var fileReader = new FileReader();
        fileReader.onload = function (event) {
            arrayBuffer = event.target.result;
            resolve(arrayBuffer);
        };

        fileReader.readAsArrayBuffer(blob);
        return arrayBuffer;
    });
  }

  // 讀取server端傳回來的array，將array轉回typed array，再將其變回 blob 並產生blob的url 
  function display_arr_img(arr) {
    document.querySelector('#preview').src = URL.createObjectURL(new Blob([new Uint8Array(arr)], {type: "image/png"}));
  }

  // 因為 buffer 不能直接被操作，因此須先將圖片轉成 array buffer 再轉乘 string 再丟給後端
  async function upload_img(pic) {
    arrayBuffer = await blob2buffer(pic);

    fetch("/blog/upload-file-with-blob", {
        method: 'POST',
        headers: {
            'content-type': 'application/json' // flask need to set header of json
        },
        body: JSON.stringify({
            item_id: 1,
            format: 'png',
            img: Array.from(new Uint8Array(arrayBuffer)),
        }),
    }).then((res)=> {
        return res.json()
    }).then((json) => {
        display_arr_img(json['img']);
    })
  }
  
</script>
{% endblock javascripts %}