{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class="col-md-6">
    <!-- Post content -->
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <div>
          <img id="show-in-post" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="card">
      <div id="message-box" class="card-body">
        <!-- Messages section -->
        <h5 class="card-title">Messages</h5>
        {% for message in messages %}
          <p id="message" class="card-text">{{ message.content }} - {{ message.user.username }}</p>
        {% endfor %}
        <!-- Create new message form -->
        <form method="post" action="{{ url_for('blog_blueprint.add_message', post_id=post.id) }}">
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Enter your message" name="content"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Post Message</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="/static/js/displayImg.js"></script>
<script>
  $(document).ready(function () {
      // Socket.IO Start connect
      var socket = io.connect();
      // Socket.IO get message
      socket.on('get-message', function (data) {
          // build message
          let msg = $("<p></p>").text(data);
          msg.addClass("card-text");
          // add messages
          messages = $("#message-box p");
          if (messages.length > 0) {
            let lastMessage = messages.last();
            lastMessage.after(msg);
          } else {
            $("#message-box .card-title").after(msg)
          }
      });
  });
</script>
<script>
  $(document).ready(function () {
    displayImgByBufferArr(JSON.parse("{{ img }}"))
  })
</script>
{% endblock javascripts %}