{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class="w-50 d-flex justify-content-between">
    <h2 class="d-inline-flex">Posts for You </h2>
    <a class="btn btn-outline-primary mb-3" href="{{ url_for('blog_blueprint.add_post') }}" role="button">Add a New Post</a>
  </div>
</div>
<div class="d-flex flex-column">
  {% for post in posts %}
  <div class="d-flex justify-content-center">
    <div class="card w-50 mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <a href="/blog/post/{{ post.id }}" class="btn btn-primary">Go to the post.</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}